* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.register-page {
  display: flex;
/* height: 120vh; */
  align-items: center;
}


.left {
  width: 40%;
}



.right {
width: 60%;
display: flex;
flex-direction: column;
justify-content: center;
  /* display: flex; */
  margin: 4em;
}
.right > img {
  width: 20%;
  margin-bottom: 2em;
}

.title > p {
 margin-top: 1.5em;
 margin-bottom: 1.5em;
}
/* label {
  margin-top: 100em;
} */

.register-img {
  width: 100%;
  height: 50%;
}


.input-wrapper {
  padding-inline: 0.5em;
  display: flex;
  align-items: center;
  border: 1px solid grey;
  border-radius: 7px;
  height: 100%;
}

.regist-info {
  margin-top: 1em;
}
.input-wrapper {
  margin-top: 10px;
}
input {
  height: 100%;
  width: 100%;
  padding: 10px;
  border: 0; 
  outline: none;
}

.login-btn {
  color: black;
  padding: 10px;
  width: 100%;
  margin-top: 25px;
  background-color: #FF8906;
  border: 0;
  border-radius: 5px;
}

.login-link {
  color: #FF8906;
}

.register-acc {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.or {
  width: 100%;
  display: flex;
  justify-content: center;
}

.social-acc {
  display: flex;
  justify-content: center;
  gap: 3%;
  width: 100%;
}

.social {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
width: 50%;
border: 0;
background: transparent;
box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
border-radius: 15px;
display: flex;
align-items: center;
justify-content: center;
}

.social > img {
  margin-right: 1em;
}