* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.register-page {
  display: flex;
  height: 100%; 
}


.left {
  width: 40%;
}



.right {
width: 60%;
display: flex;
flex-direction: column;
justify-content: center;
  /* display: flex; */
  margin: 4em;
}
.right > img {
  width: 20%;
  margin-bottom: 2em;
}

.title > p {
 margin-top: 1.5em;
 margin-bottom: 1.5em;
}
/* label {
  margin-top: 100em;
} */

.register-img {
  width: 100%;
  height: 100%;
}


.input-wrapper {
  padding-inline: 0.5em;
  display: flex;
  align-items: center;
  border: 1px solid grey;
  border-radius: 7px;
  /* height: 100%; */
}

.regist-info {
  margin-top: 1em;
}
.input-wrapper {
  margin-top: 10px;
}
input {
  height: 100%;
  width: 100%;
  padding: 10px;
  border: 0; 
  outline: none;
}

.forgot {
  margin-top: 20px;
  /* align-items: end;
  display: flex; */
  text-align: end;
  color: #FF8906;
  width: 100%;
  font-size: 15px;
}

.login-btn {
  color: black;
  padding: 10px;
  width: 100%;
  margin-top: 25px;
  background-color: #FF8906;
  border: 0;
  border-radius: 5px;
}

.login-link {
  color: #FF8906;
}

.register-acc {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.or {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0;
}

hr {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.line-wrapper {
  height: 10vh;
  display: flex;
  align-items: center;
}

.social-acc {
  display: flex;
  justify-content: center;
  gap: 3%;
  width: 100%;
}

.social {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  width: 50%;
  border: 0;
  background: transparent;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social > img {
  margin-right: 1em;
}

@media  (max-width: 768px) {
  .left {
    display: none;
  }
  
  .right {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* display: flex; */
    margin: 1.5em;
  }

  .register-page {
    height: 100%; 
  }

  .right > img {
    width: 40%;
    margin-bottom: 2em;
  }

  .social {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
  }
}